/* styles.module.css */

.page {
    margin: auto; /* centers element within parent container */
    background: white; /* ofcourse we want our pdf background to be white */
    position: relative; /* for child elements that need absolute positioning */
  
    /* below is the width/height for an A4 sized sheet. For other standards lookup 
       the dimensios and apply those. */
    width: 210mm;
    height: 297mm;
  
    padding: 32px;
    /* optional: Add drop shadow for floating paper effect. */
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  }
  
  @page {
    size: A4;
    margin: 0;
  }

.templateA {
  color: blue;
  font-size: 18px;
}

.templateB {
  color: red;
  font-size: 18px;
}

.container {
  /* Set a fixed height for the container to enable scrolling */
  height: 100vh;
  /* Add any other styles you want for the container */
}

.content {
  /* Enable scrolling for the content when it exceeds the container height */
  overflow-y: auto;
  /* Add any other styles for the content */
}

/* @font-face {
  font-family: 'Fruktur';
  src: url(../../asset/Fruktur/Fruktur-Italic.ttf) format('truetype');
  src: url(../../asset/Fruktur/Fruktur-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.Fruktur {
  font-family: 'Fruktur', cursive;
} */

@font-face {
  font-family: "Fruktur";
  src: url("../../asset/Fruktur/Fruktur-Regular.ttf");
  src: url("../../asset/Fruktur/Fruktur-Italic.ttf");
}

@font-face {
  font-family: "Erica One";
  src: url("../../asset/Erica One/EricaOne-Regular.ttf");
}

@font-face {
  font-family: "Yatra One";
  src: url("../../asset/Yatra One/YatraOne-Regular.ttf");
}

@font-face {
  font-family: "Rakkas";
  src: url("../../asset/Rakkas/Rakkas-Regular.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../../asset/Merriweather/Merriweather-Regular.ttf");
}
